{% extends "base.html" %}
{% block content %}

  <section id="header">
    <div class="container">
      <div class="row bg-light my-3 justify-content-center">
        <div class="col-10 py-4">
          <h2 class="text-center fs-1">ユーザ管理</h2>
        </div>
      </div>
    </div>
  </section>

  <!-- 登録ボタン -->
  <section id="register">
    <div class="container">
      <div class="row bg-light my-3">
        <div class="col-10 py-4">
          <a href="{{ url_for('register') }}" class="btn btn-primary w-25">ユーザ登録</a>
        </div>
      </div>
    </div>
  </section>

  <!-- 更新テーブル -->
  <section id="user_table">
    <div class="card mx-auto bg-light" style="width: 68%;">
      <div class="card-body">
        <h5 class="card-title">最新のユーザ</h5>
      </div>
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">ユーザ名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">管理者</th>
            <th scope="col">プログ投稿数</th>
            <th scope="col">変更</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.administrator }}</td>
            <td><a href="#" class="stretched-link">ブログ管理数</a></td>
            <td><a href="#" class="btn btn-secondary">変更</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <section id="pagenation">
    <nav aria-label="mantenance_page_navigation">
      <ul class="pagination my-3 justify-content-center">
        <li class="page-item"><a class="page-link" href="#">前へ</a></li>
        <li class="page-item"><a class="page-link" href="#">ページ No</a></li>
        <li class="page-item"><a class="page-link" href="#">次へ</a></li>
      </ul>
    </nav>
  </section>
  
{% endblock %}